area :hover {
  border: 1px solid black;
}

map {
  position: relative;
}

#head {
  left: 101px;
  top: 2px;
  right: 477px;
  bottom: 342px;
}

#tronc {
  left: 3px;
  top: 148px;
  right: auto;
  bottom: auto;
}

#pied {
  left: 3px;
  top: 396px;
  right: auto;
  bottom: auto;
}
