html, body {
margin:0px;
height:100%;
}

@font-face {
font-family: 'logisosomedium';
src: url('logisoso-webfont.woff2') format('woff2'),
   url('logisoso-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}
.wrapper {
position : relative;
display : inline-block;
margin: auto;
width: 100%;
padding: 0;
padding-top: 100px;
}

.overlay {
position : absolute;
width : 100%;
height : 100%;
top : 0;
left : 0;
}

img {
width: 100%;
}

h1 {
font-family: 'logisosomedium';
text-align: left;
font-size: 7em;
color: black;
margin:0;
padding: 0;
position: fixed;
-webkit-transform: rotate(334deg);
-moz-transform: rotate(334deg);
-o-transform: rotate(334deg);
writing-mode: lr-tb;
}

#body {
top: 5;
height : 27%;
}

#head {
top: 10px;
height : 42%;
}

#foot {
height : 20%;
}

.part-link {
display : block;
width : 100%;
height : 100%;
}



 .part a {
   text-decoration: none;
 }

 body {
  background: pink;
}

a:hover:before {
  content: '';
  position: fixed;
  display: block;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: -1;
  background-color: pink;
}


span{
opacity: 0.7;
text-shadow: 2px 2px black;
}

a.part-link  {
font-family: 'logisosomedium';
font-size: 160px;
color: white;
width: 100%;
margin: auto;
display:flex;
justify-content: center;
}

span {
padding-top: 100px;
}

#head span {
  padding-top: 40%;
}

#body span {
  padding-top: 17%;
}
